/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 24, 2021, 12:14:50 PM
    Author     : rezidsence
*/
body{background-image: url(images/landscape.jpg);}
h1{color:orange;}
p{color:greenyellow; font-size:150%}
td{color:red;}
li{color:orange;}


